body{
    height: 100%;
}
.BG{
    position: fixed;
    top:0;
    margin: 0;
    width:100%;
    height:100%;
    color: var(--basic-white-light);
    display: flex;
    text-align: center;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: -1;
}
.Mod{
    padding: 10px;
    border: black dashed 2px;
    z-index: 0;
}
#ToolBox,#DefineBox{
    z-index: 1;
    background: white;
    position: absolute;
    overflow: auto;
}
#DefineBox{
    left: 230px;
}
#HandleBox{
    left: 450px;
}
.SelectMod{
    border: tomato dashed 2px;
}
.jins{
    margin-top: 5px;
    color: white;
    background:#AB82FF;
    height: 50px;
    padding: 0px 38px;
    font-size: 16px;
    transition: 0.35s ease-in-out;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}
.jins:hover{
    background: #bb99ff;
}